.qpp_button_selection_section,
.qpp_button_other_amt_section,
.qpp_button_reference_section {
  margin-bottom: 10px;
}
.wp_paypal_button_widget {
  margin: 10px 0;
}
.wp_accept_pp_button_form input {
  width: auto !important;
}

.buy_now_button_image {
  max-width: 100%;
}

.qpp_payment_subject {
  margin: 10px 0px;
}
.qpp_other_amount_label {
  margin: 10px 0px;
}
.qpp_ref_title_label {
  margin: 10px 0px;
}
.qpp_payment_button {
  margin: 10px 0px;
}
.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.qpp_other_amt_input {
  width: 46%;
  margin-bottom: 25px !important;
  height: 31px;
}
.currency_code {
  width: 50%;
  height: 45px;
}
